{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introducción
{% endblock %}

{% block content %}

    ¿Usted se imagina que para poder votar tuviera que presentar
    una prueba que verifique su entendimiento del contenido de la votación?<br>
    ¿Y qué tal si el puntaje de la prueba determinara el
    número de votos que usted tendría en dicha votación?<br>
    <br>
    El propósito del ejercicio en el que está participando
    es simular esta situación en el actual proceso de paz entre el Gobierno y las FARC.<br>
    Además de comprobar qué tanto sabe acerca de los puntos acordados,
    usted está contribuyendo a un proyecto de investigación sobre la importancia
    de la claridad en las reglas de los mecanismos de votación.<br>
    <br>
    La prueba completa no le tomará más de 10 minutos.<br>
    Le pedimos que a continuación lea las instrucciones y haga click en "Siguiente" una vez las haya comprendido.<br>
    <br>

    {% include Constants.instructions_template %}

    {% next_button %}

{% endblock %}
