{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas 6 a 10
{% endblock %}

{% block content %}
    <p>
        <b>Pregunta 6</b><br>
        Queremos la paz.
    </p>

    {% formfield player.question_6 with label="" %}

    <p>
        <b>Pregunta 7</b><br>
        Queremos la paz.
    </p>

    {% formfield player.question_7 with label="" %}

    <p>
        <b>Pregunta 8</b><br>
        Queremos la paz.
    </p>

    {% formfield player.question_8 with label="" %}

    <p>
        <b>Pregunta 9</b><br>
        Queremos la paz.
    </p>

    {% formfield player.question_9 with label="" %}

    <p>
        <b>Pregunta 10</b><br>
        Queremos la paz.
    </p>

    {% formfield player.question_10 with label="" %}

    {% next_button %}

{% endblock %}
